@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --success: 146 79.46% 43.92%;
    --success-foreground: 0 0% 0%;
    --warning: 37.03 91.27% 55.1%;
    --warning-foreground: 0 0% 0%;
    --danger: 339.2 90.36% 51.18%;
    --danger-foreground: 0 0% 100%;
    --info: 212.02 100% 46.67%;
    --info-foreground: 0 0% 100%;

    --background: 0 0% 100%;

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 0% 10%;

    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;

    --secondary-foreground: 0 0% 10%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222.2 84% 4.9%;

    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;

    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;

    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;

    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;

    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;

    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;

    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;

    --input: 217.2 32.6% 17.5%;

    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  @font-face {
    font-family: 'SVN-Poppins';
    src:
      url('/fonts/SVN-Poppins/SVN-PoppinsBold.woff2') format('woff2'),
      url('/fonts/SVN-Poppins/SVN-PoppinsBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SVN-Poppins';
    src:
      url('/fonts/SVN-Poppins/SVN-PoppinsBlack.woff2') format('woff2'),
      url('/fonts/SVN-Poppins/SVN-PoppinsBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SVN-Poppins';
    src:
      url('/fonts/SVN-Poppins/SVN-PoppinsLight.woff2') format('woff2'),
      url('/fonts/SVN-Poppins/SVN-PoppinsLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SVN-Poppins';
    src:
      url('/fonts/SVN-Poppins/SVN-PoppinsSemiBold.woff2') format('woff2'),
      url('/fonts/SVN-Poppins/SVN-PoppinsSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SVN-Poppins';
    src:
      url('/fonts/SVN-Poppins/SVN-Poppins.woff2') format('woff2'),
      url('/fonts/SVN-Poppins/SVN-Poppins.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SVN-Poppins';
    src:
      url('/fonts/SVN-Poppins/SVN-PoppinsMedium.woff2') format('woff2'),
      url('/fonts/SVN-Poppins/SVN-PoppinsMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'SVN-Poppins';
  }

  ::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-[1px] border-solid border-transparent bg-border bg-slate-500 bg-clip-padding;
  }
}
.slick-next:before,
.slick-prev:before {
  content: '' !important;
}

.slick-dots .slick-active div {
  @apply bg-primary;
}
